<div class="icon-container-emarket close_emarket">
  <span class="close-sideways"><b></b></span>
      <div class="icon-em">
        <div class="onlyIcon">
          <img  loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/1white.png?v=1690868008" alt="icon">
        </div>
        <div class="text-Icon bcorp-icon">
          <section>
            <p>
              <b>B Corp Certified</b> <u>B Corp</u> is a certification awarded to companies that meet rigorous standards
              of social and environmental performance, accountability, and transparency.
            </p>
            <ul>
              <li>- <u>Anonymous Copenhagen</u> B Impact Score: 95.2</li>
            </ul>
          </section>
          <span>
            <img  loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/1black.png?v=1690868007" alt="hovered icon">
          </span>
        </div>
      </div>

      <div class="icon-em">
        <div class="onlyIcon">
          <img  loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/2white.png?v=1690868008" alt="icon">
        </div>
        <div class="text-Icon">
          <section>
            <p><b>LWG certified leathers</b></p>
            <ul>
              <li>- A by-product of the food industry.</li>
              <li>- Regionally sourced.</li>
              <li>- Chrome-free lining.</li>
            </ul>
          </section>
          <span>
            <img loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/2black.png?v=1690868007"  alt="hovered icon">
          </span>
        </div>
      </div>

      <div class="icon-em">
        <div class="onlyIcon">
          <img  loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/3white.png?v=1690868008" alt="icon">
        </div>
        <div class="text-Icon emaerket-cert">
          <section>
            <p><b>We are certified</b></p>
            <ul>
              <li>- <u>Transparent</u> purchase and legal terms.</li>
              <li>- We do not validate marketing.</li>
              <li>- <u>Buyer protection</u> up to 10.000 DKK.</li>
            </ul>
          </section>
          <span
            ><img loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/3black.png?v=1690868007"  alt="hovered icon"
          ></span>
        </div>
      </div>

      <div class="icon-em">
        <div class="onlyIcon">
          <img  loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/4white.png?v=1690868008" alt="icon">
        </div>
        <div class="text-Icon emaerket-cert">
          <section>
            <p><b>Vi har e-mærket</b></p>
            <ul>
              <li>- <u>Gennemskueligt købsflow</u> og handelsbetingelser.</li>
              <li>- <u>Køberbeskyttelse</u> op til 10.000 DKK.</li>
            </ul>
          </section>
          <span
            ><img loading="lazy" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/4black.png?v=1690868007" alt="hovered icon"
          ></span>
        </div>
      </div>
    </div>

<div id="myModalCz_iframe_bcorp" class="modal_cz sizeModal" style="display: none;">
<div class="modal-content-cz"><button type="button" class="close-cz" style="z-index: 1;" data-dismiss="modal" aria-hidden="true"><img data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/closeIcon.svg" /></button>
<div class="modal-header"></div>
<div class="modal-body" style="display: block;">
<div class="container" style="position: inherit;"><iframe class="responsive-iframe" data-src="https://www.bcorporation.net/en-us/find-a-b-corp/company/nordic-apparel-ap-s?embedded=true" frameborder="0"></iframe></div>
</div>
</div>
</div>

<script type="text/javascript">
  if (document.cookie.indexOf('cookie_emarket') == -1){
     //$('.close-sideways').parent().toggleClass('close_emarket');
    
    document.querySelectorAll('.close-sideways').forEach(element => {
      element.parentElement.classList.toggle('close_emarket');
    });
  }  
</script>

<style><!--
#myModalCz_iframe_bcorp .modal-content-cz{
    padding-top:60px; 
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
--></style>