<img class="lazyload" 
 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Anonymous-Brand-Marks-12.png?v=1662008704" id="chart_image_footer_cz" class="sizechart chartimage" alt="Scale Comparison Chart" title="Scale Comparison Chart" style="width:50%;height:100%;">
            <div class="text">
               <p>Generally, Anonymous Copenhagen uses European standard sizes and run true to size (unless otherwise stated in a style's product description). Finding your correct size is easy: first, trace your foot on a piece of paper and measure the distance from your heel to the longest toe. Then compare with our guide below.</p>
               <div class="sizes">
                  <div class="size_labels">
                     <ul>
                        <li>EU</li>
                        <li>FR</li>
                        <li>UK</li>
                        <li>USA</li>
                        <li>MM</li>
                        <li>INCH</li>
                     </ul>
                  </div>
                  <div class="size_numbers">
                     <ul>
                        <li>36</li>
                        <li>37</li>
                        <li>37.5</li>
                        <li>38</li>
                        <li>38.5</li>
                        <li>39</li>
                        <li>39.5</li>
                        <li>40</li>
                        <li>41</li>
                        <li>42</li>
                        <li>43</li>
                     </ul>
                    <ul>
                        <li>37</li>
                        <li>38</li>
                        <li>38.5</li>
                        <li>39</li>
                        <li>39.5</li>
                        <li>40</li>
                        <li>40.5</li>
                        <li>41</li>
                        <li>42</li>
                        <li>43</li>
                        <li>44</li>
                     </ul>
                     <ul>
                        <li>3</li>
                        <li>4</li>
                        <li>4.5</li>
                        <li>5</li>
                        <li>5.5</li>
                        <li>6</li>
                        <li>6.5</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                     </ul>
                     <ul>
                        <li>6</li>
                        <li>7</li>
                        <li>7.5</li>
                        <li>8</li>
                        <li>8.5</li>
                        <li>9</li>
                        <li>9.5</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                     </ul>
                     <ul>
                        <li>230</li>
                        <li>238</li>
                        <li>240</li>
                        <li>243</li>
                        <li>247</li>
                        <li>250</li>
                        <li>254</li>
                        <li>258</li>
                        <li>260</li>
                        <li>262</li>
                        <li>270</li>
                     </ul>
                     <ul>
                        <li>9</li>
                        <li>9.3</li>
                        <li>9.4</li>
                        <li>9.5</li>
                        <li>9.6</li>
                        <li>9.8</li>
                        <li>10</li>
                        <li>10.1</li>
                        <li>10.2</li>
                        <li>10.3</li>
                        <li>10.6</li>
                     </ul>
                  </div>
               </div>
            </div>