<section class="bannerWithTitle">
  <img data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_11.57.31_60e9e908-4f5a-4821-81bc-314c1b6ecc45_1524x.png" data-mob-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_11.57.31_60e9e908-4f5a-4821-81bc-314c1b6ecc45_480x.png" alt="" />
  <h2>Making a Givia</h2>
</section>
{% schema %}
  {
    "name": "Banner with title",
    "settings": [],
    "presets": [
      {
        "name": "Banner with title",
        "category": "Text"
      }
    ]
  }
{% endschema %}