<section class="black-friday-section">
  <div class="black-container">
    <h2>Black Friday</h2>
        <div id="beforetime" class="beforetime">
            <p class="sml-text">Early access starts in</p>
            <div id="countdown" class="countdown"></div>
        </div>
        <!--div id="aftertime" class="aftertime afterHide">
          <form accept-charset="UTF-8" action="#" >
            <div class="icOUter">
              <div class="input-code">
                <input type="text" name="test" id="go-code" placeholder="Enter Early Access - Enter Code here">
                <span id="wrong-err" class="wrong-err">Wrong Access Code - Sign Up Below To Get Access Code</span>
              </div>  
              <div>
                 <button id="check-code" type="button">GO</button>
              </div>
            </div>
          </form>
          <span class="or orSap">OR</span>
        </div-->
  </div>
</section>  
{% schema %}
  {
    "name": "Black friday section",
    "settings": [],
    "presets": [
      {
        "name": "Black friday section",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}