<div class="leatherCare carePage">
  <div class="sec-container-big">
    <div class="textBoxCare">
      <h2>Quality, Care & Materials</h2>
    </div>
    <div class="qualityText" id="quality">
      <h3>Quality</h3>
      <p>Quality is key at Anonymous Copenhagen. We deliver high quality shoes that last.</p>
      <p>We are committed to sourcing sustainable materials and to minimize the use of harmful chemicals.
The leather, we use for all shoes, is by-products from the food industry, and the leather lining is 100% chrome-free.</p>
      <p>We have chosen to work only with REACH compliant tanneries. Working with REACH (Registration, Evaluation, Authorisation and Restriction of Chemicals) allows us to ensure compliance with the regulations created to improve the environment and protect human health.</p>
      <p>We have also decided to work only with Leather Working Group (LWG) certified tanneries. By this, we commit ourselves to responsible leather production by assessing material traceability, environmental management system, restricted substances, energy consumption, water usage, air and noise emissions, waste management, effluent treatment, health, safety, and emergency preparedness, chemical management, and operations management etc.</p>
      <p>The leather we use is sourced from suppliers located as close to our workshops as possible without compromising on quality. In order to create full transparency, below are valuable information about each of the different materials we use.</p>
      <div class="careLogo text-center">
        <img src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Image_1.png">
      </div>
      <p style="margin-bottom: 0">Want to learn more about LWG and REACH compliance, check out the links below</p>
      <p style="margin-bottom: 0"><a href="https://www.leatherworkinggroup.com/about/" target="_blank">LWG</a> , <a href="https://ec.europa.eu/environment/chemicals/reach/reach_en.htm" target="_blank">REACH</a></p>
    </div>
    <div class="careText">
      <h3>Care</h3>
      <p>The best you can do to make your product last is to treat them with care. To help extend the lifetime of your shoes, we’ve put together a guide, describing how to best care for each of the different materials. If you are in doubt what care group your product / material belongs to, please check the care category in the material overview below.</p>
    </div>
    <div class="lcLower">
      <div class="lcLowerPrimary">
        <div class="lcLowerLeft">
          <section>
          <h3>Soft surface leather</h3>
          <b>(Our references: Shiny lamb, Soft calf, Calf nappa, Vegetable tanned calf, Grained vegetable tanned calf, Snake calf, Grained soft calf, Lizard metallic goat, Metallic goat, Crackled metallic goat, Calf croco)</b>
          <p>Soft leather can last long if kept from being dehydrated. Clean the dry shoe with a soft brush and use foam Cleaner to remove dirt. Apply Shoe Cream which provides a gentle nourishment and to restore the colour. Leave to dry and then polish the surface with a brush. Use wax to provide an even stronger protection against water but note that lighter colors may become a tone darker. If you wish you can then finish off with a water based Protector.</p>
          </section>
        </div>
        <div class="lcLowerRight"><span><img src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Smooth.jpg?v=1664185472" alt="" /></span></div>
      </div>
      <div class="lcLowerPrimary">
        <div class="lcLowerRight"><span><img src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Suede.jpg?v=1664185472" alt="" /></span></div>
        <div class="lcLowerLeft">
          <section>
            <h3>Suede &amp; nubuck leather</h3>
            <b>(Our references: Calf suede, Calf suede print, Calf nubuck, Lamb nubuck &amp; Oily calf suede)</b>
            <p>This leather is sensitive to water and attracts dirt easily, therefore it is important to treat your suede leather regularly. Clean the dry leather with a suede brush for suede leather or with a soft brush for nubuck leather and use foam cleaner to remove dirt. Finish off with water based Protector. Leave to dry 24 hours to restore.</p>
          </section>
        </div>
      </div>
      <div class="lcLowerPrimary">
        <div class="lcLowerLeft">
          <section>
            <h3>Natural hair</h3>
            <b>(Our references: Calf hair &amp; Lamb hair)</b>
            <p>Leather with natural hair is a material that can last long if handled with proper care. When cleaning you would need a bowl with warm water and mild soap. Use a soaked cloth to brush and comb the leather in the direction of the hair. Note that forcing the hairs in the opposite direction may damage the leather permanently. Dry them shortly after with a dry cloth. You can then spray them with a water base protector and let them dry to restore.</p>
          </section>
        </div>
        <div class="lcLowerRight"><span><img src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/leopard-hair-anonymous.jpg?v=1667389022" alt="" /></span></div>
      </div>
    </div>
    <div class="MaterialsText" id="materials">
      <h3>Materials</h3>
      <p>Transparency is important to us. That is why we have created an overview, showing all the materials we use including information about the material base, supplier origin and what certificates they have and under what regulations they work. </p>
    </div>
  </div>
</div>
<div class="sec-container"><iframe class="tableIframe" src="https://b2b.anoncph.com/material"></iframe></div>
<div>
  <div class="sec-container-big">
    <div class="qualityText">
      <h3>Alternatives to leather</h3>
      <p>We often get enquiries about including leather alternatives such as “vegan leather” or “plant based leather” in our collections.</p>
      <p>To deliver high quality products that last, we currently only work with real leather. However, we would love to expand our range of materials with these leather alternatives, which is why we follow the latest innovations and continuously test new materials. The results from the testing we have done so far though, do not live up to the quality we would like to bring to market in terms of desirability, durability and comfort. It is a requirement for us not to compromise on these factors regardless of what material we choose to use.</p>
      <p>With regards to durability, it requires a strong material to ensure a long product lifetime but also just to craft the shoe. Leather alternatives with such characteristics are made of plant-based fibres with a blend of polyurethane (plastic) to keep strength and performance. Our tests have shown that this material is still not as strong as real leather. Also, the relatively high amount of plastic needed is questioning the sustainable achievement. However, with all the innovation within the field, we are absolutely confident that we’ll soon be able to source materials that live up to our standards. When that happens, we will be pleased to launch a full bio-based line.</p>
      <p>Focusing on planetary health and human health, the leather we use for both uppers and linings is by-products from the food industry, the leather lining is 100% chromium free, and we have chosen to work only with REACH compliant and LWG certified leather tanneries. <a href="#quality">Read more about our materials, quality and care.</a></p>
      <p>We carefully plan what materials to use for each of the shoes depending on the functionality and with a focus on limiting ressources. Several of our everyday models include rubber, crepe and thunit soles to offer the greatest wear resistance possible and also because many people anyway get their everyday shoes leather soles covered/resoled. As evening shoes require less wear resistance, these usually have leather soles as these are more breathable and for a more luxurious feel.</p>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Care page",
    "settings": [],
    "presets": [
      {
        "name": "Care page",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}