<section class="finishingSec pt-279 textImgSection">
  <div class="sec-container-big">
    <div class="imgTextrow hrNew" style="align-items: flex-start">
      <div class="leftHori">
        <div>
          <h3>Finishing & packing</h3>
          <p>Once the lasts are removed, <a href="https://www.anoncph.com/collections/givia">Givia</a> is brought to the finishing process where a comfort sponge is added together with the upper leather insoles.</p>
          <p>The Givia’s are then going trough a final quality control check before they are finally applied with a natural wax, gets polished and are left to dry.</p>
          <p>Thus, a pair of <a href="https://www.anoncph.com/collections/givia">Givia</a> is ready to be packed into our recycled FSC Certified shoe boxes.</p>
          <p class="text-lite">Read more about our <a href="/#Environmental-friendly">environmentally friendly packaging and transportation.</a></p>
          <!--           <p>So as to cut down on shipment volumes, we have developed packaging made to fit each product perfectly. As another way to reduce our environmental impact, we have completely eliminated single-use plastic from our shoe box packaging, and only use boxes made from FSC-certified materials.</p> -->
<!--           <p class="text-lite">If you want to know more about our sustainability initiatives, check out <a href="https://www.anoncph.com/pages/our-values"><i>Our Values</i></a></p> -->
        </div>
        <img data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.41.01.png" alt="Image" />
      </div>
      <div class="rightHori">
        <div class="txtRight"><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.52.35.png?v=1667882167" alt="Image" /></div>
        <div class="secondImgBx"><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/givia_53f1a2b8-d8f9-43d5-ba8c-58d80b2ef01f.jpg" alt="Image" /></div>
      </div>
    </div>
  </div>
  <div class="giviaBtn"><a href="https://www.anoncph.com/collections/givia" class="btn btn-primary">SHOP GIVIA</a></div>
</section>
{% schema %}
  {
    "name": "Finishing Section",
    "settings": [],
    "presets": [
      {
        "name": "Finishing Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}