<section class="heelInsoleSection pt-321">
  <div class="sec-container-big">
    <div class="textImgSection showOnMobile">
      <div class="ImgTxBx">
        <h3>Heels & insoles covering</h3>
        <p>The already prepared patterns for the insole and heel parts are glued with a water-based glue and shaped on the heels and insoles. The heels are uniquely developed for <a href="https://www.anoncph.com/collections/givia">Givia</a>. Once the insoles is prepared, they are then applied to the lasts.</p>
<!--         <p>So as to cut down on shipment volumes, we have developed packaging made to fit each product perfectly. As another way to reduce our environmental impact, we have completely eliminated single-use plastic from our shoe box packaging, and only use boxes made from FSC-certified materials. </p> -->
<!--         <p class="text-lite">If you want to know more about our sustainability initiatives, check out <a href="https://www.anoncph.com/pages/our-values"><i>Our Values</i></a></p> -->
      </div>
    </div>
    <div class="imgTextrow fTwoImg">
      <div><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.18.05.png" alt="Image" /></div>
      <div><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.18.00.png" alt="Image" /></div>
    </div>
    <div class="textImgSection">
      <div class="imgTxtRw imgTextrow">
        <div class="txImgBx">
          <img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.24.10.png?v=1667879152" alt="Image" />
        </div>
        <div class="ImgTxBx showOnDesktop">
          <h3>Heels & insoles covering</h3>
          <p>The already prepared patterns for the insole and heel parts are glued with a water-based glue and shaped on the heels and insoles. The heels are uniquely developed for <a href="https://www.anoncph.com/collections/givia">Givia</a>. Once the insoles is prepared, they are then applied to the lasts.</p>
<!--           <p>So as to cut down on shipment volumes, we have developed packaging made to fit each product perfectly. As another way to reduce our environmental impact, we have completely eliminated single-use plastic from our shoe box packaging, and only use boxes made from FSC-certified materials. </p> -->
<!--           <p class="text-lite">If you want to know more about our sustainability initiatives, check out <a href="https://www.anoncph.com/pages/our-values"><i>Our Values</i></a></p> -->
        </div>
      </div>
      <div class="imgTextrow rowHorizontal">
        <div class="leftHori">
          <div>
            <h3>Attaching heels & soles</h3>
            <p>The shape of the model is determined by the last that has been uniquely developed for the model. It’s in this process, the Givia’s really begin to take shape.</p>
            <p>The upper pieces, that now contains all the turned and stitched straps, are now being shaped separately, and then the pieces are applied on the lasts together with the buckle straps. The buckle straps are glued and stamped to the bottom side of the insole and then being shaped a second time by a nozzle closing machine.</p>
<!--             <p class="text-lite">If you want to know more about our sustainability initiatives, check out <a href="https://www.anoncph.com/pages/our-values"><i>Our Values</i></a></p> -->
          </div>
          <img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.25.13.png" alt="Image" />
        </div>
        <div class="rightHori">
          <div><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.25.27.png?v=1667879150" alt="Image" /></div>
          <div><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Screenshot_2022-10-25_at_12.27.50.png?v=1667879147" alt="Image" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Heel & insole",
    "settings": [],
    "presets": [
      {
        "name": "Heel & insole",
        "category": "Text"
      }
    ]
  }
{% endschema %}