<section class="finishingSec pt-279 textImgSection">
  <div class="sec-container-big">
    <div class="imgTextrow hrNew" style="align-items: flex-start">
      <div class="leftHori">
        <div>
          </div>
        <img data-class="LazyLoad" data-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/store444.png" alt="Image" />
      </div>
      <div class="rightHori">
        <div class="txtRight"><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/store555.png?v=1667882167" alt="Image" /></div>
        <div class="secondImgBx"><img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/store666.png" alt="Image" /></div>
      </div>
    </div>
  </div>
  <!--div class="giviaBtn"><a href="https://www.anoncph.com/collections/givia" class="btn btn-primary">SHOP GIVIA</a></div-->
</section>
{% schema %}
  {
    "name": "Store Finishing Section",
    "settings": [],
    "presets": [
      {
        "name": "Store Finishing Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}
{% style %}
#store .leftHori img {    margin-top: 150px; }
#store .txtRight img{	max-width: 100% !important; }	
#store .secondImgBx img {    max-width: 85% !important;}
#store .width-563 img{	margin-top: -50%;}
#store .pt-354 {    padding-top: 200px;}
#store .imageFullSection {    padding: 200px 0 0 0;}
#store .finishingSec {    padding: 200px 0 200px;}
@media screen and (max-width: 768px) {
	#store .width-563 img {margin-top: 0; 	}
	#store .secondImgBx img {max-width: 100% !important;	}
}
{% endstyle %}