<section class="textImgSection rightText pt-354">
  <div class="sec-container-big">
    <div class="imgTextrow">
      <div class="textColumn">
        <h3>Preparing cuts</h3>
        <p>Each shoe pattern includes multiple unique pieces. With <a href="https://www.anoncph.com/collections/givia">Givia</a> the front pieces are being reduced in thickness, then folded and hammered manually by hand, strap by strap. The heel piece edges are getting scarved to enhance shaping. Finally, all pieces are being organized in groups.</p>
<!--         <p>So as to cut down on shipment volumes, we have developed packaging made to fit each product perfectly. As another way to reduce our environmental impact, we have completely eliminated single-use plastic from our shoe box packaging, and only use boxes made from FSC-certified materials.</p> -->
<!--         <p class="text-lite">If you want to know more about our sustainability initiatives, check out <a href="https://www.anoncph.com/pages/our-values"><i>Our Values.</i></a></p> -->
      </div>
      <div class="imgColumn">
        <img class="img-450" style="width: 100%" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Repeat_Grid_1.png" alt="Preparing cuts" />
      </div>
    </div>
    <div class="imgTextrow noAlign">
      <div class="textColumn pl-25 width-563">
        <img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Preparing_cuts1.png" alt="Preparing cuts" />
      </div>
      <div class="imgColumn text-tight width-528">
        <img class="img-450" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Preparing_cuts2.png?v=1667814114" alt="Preparing cuts" />
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Text with 3 Images",
  "settings": [
    {
      "type": "text",
      "id": "sectionClass",
      "label": "Section Class"
    }
  ],
  "presets": [
    {
      "name": "Text with 3 Images",
      "category": "Image"
    }
  ]
}
{% endschema %}