@font-face {
    font-family: 'Ogg';
    src:
        url('//www.anoncph.com/cdn/shop/t/32/assets/Ogg.eot?v=127358677023325237031715322242') format('eot'),
        url('//www.anoncph.com/cdn/shop/t/32/assets/Ogg.woff?v=108076645016416620241715322242') format('woff"),
        url('//www.anoncph.com/cdn/shop/t/32/assets/Ogg.woff2?v=32606936703051755551715322242') format('woff2');
}

@font-face {   
    font-family: 'Ogg-Bold';
    src:
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Ogg-Bold.eot') format('eot'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Ogg-Bold.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Ogg-Bold.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Ogg-Bold.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Ogg-Bold.woff2') format('woff2');
}

@font-face {   
    font-family: 'Dallas';
    src:
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Regular.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Regular.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Regular.woff2') format('woff2');
}

@font-face {   
    font-family: 'Dallas-Bold';
    src:
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Bold.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Bold.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Dallas-Light';
    src:
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Light.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Light.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-Light.woff2') format('woff2');
}

@font-face {   
    font-family: 'Dallas-Outline-Thick';
    src:
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThick.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThick.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThick.woff2') format('woff2');
}

@font-face {   
    font-family: 'Dallas-Outline-Thin';
    src: 
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThin.otf') format('otf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThin.ttf') format('ttf'),
        url('https://cdn.shopify.com/s/files/1/0553/5802/9888/files/Dallas-OutlineThin.woff2') format('woff2');
}